{% extends 'base.html.twig' %}

{% block body %}
<div id="bubbles"> 
    {# Bubble Effect #}
    <div class="bubble x1"></div>
    <div class="bubble x2"></div>
    <div class="bubble x3"></div>
    <div class="bubble x4"></div>
    <div class="bubble x5"></div>
    <div class="bubble x6"></div>
    <div class="bubble x7"></div>
    <div class="bubble x8"></div>
    <div class="bubble x9"></div>
    <div class="bubble x10"></div>
    <div class="bubble x11"></div>
    <div class="bubble x12"></div>
    <div class="bubble x13"></div>
    <div class="bubble x14"></div>
    <div class="bubble x15"></div>
    <div class="bubble x16"></div>
    <div class="bubble x17"></div>
    <div class="bubble x18"></div>
    <div class="bubble x19"></div>
    <div class="bubble x20"></div>
</div>
<div class="separator1">
</div>
<div class="container-fluid text-center bghome border-bottom border-success pt-5">
    <p class="intro">Le guide Michelin de la bière, et à la vôtre! </br></br>Vous retrouverez dans notre taverne des avis et descriptions d'un grand nombre de bières, </br>avec des sélections régulières.</br></br></p>
    <div id="beer-home"></div>
</div>
<div class="boire-conduire container-fluid pt-5 text-center">
    <div class="row justify-content-center">
        <div data-aos="fade-right" class="col-2">
            <a href="{{ path('app_beer_index')}}" class="btn btn-success"> BOIRE</a>
            <p class="boir"><i class="fas fa-beer fa-4x"></i></p>  
        </div>
        <div class="col-4">
            <p class="text-uppercase px-3 colorchang">Boire ou conduire, il faut choisir !</p>
        </div>
        <div data-aos="fade-left" class="col-2">
            <a href="https://www.preventionroutiere.asso.fr/2016/03/31/alcool-risque-et-facteur-daccident/" class="btn btn-success">CONDUIRE</a>
            <p><i class="fas fa-car fa-6x"></i></p>
        </div>
    </div>
</div>
<div class="separator2">
</div>


{% endblock body %}
