{% extends 'base.html.twig' %}


{% block body %}
<div class="bod">
    <div id="bubbles">
        <div class="bubble x1"></div>
        <div class="bubble x2"></div>
        <div class="bubble x3"></div>
        <div class="bubble x4"></div>
        <div class="bubble x5"></div>
        <div class="bubble x6"></div>
        <div class="bubble x7"></div>
        <div class="bubble x8"></div>
        <div class="bubble x9"></div>
        <div class="bubble x10"></div>
    </div>
    <div class="col-6">
        <a href="{{ path('app_beer_index')}}" class="btn btn-success"> BOIRE</a>
        <p><i class="fas fa-beer fa-4x"></i></p>
         
    </div>
    
    <div class="row text-center bghome">
        <div class="col-12 mt-5">
            <h1>Le Nain Titubant</h1>
            </br>
            <div>
                <p>Le guide Michelin de la bière, et à la vôtre! </br></br>Vous retrouverez dans notre taverne des descriptions d'un grand nombre de bières, avec des sélections régulières.</br>
                Vous pourrez aussi consulter les avis et les notes données par les membres sur les bières et même donnez les vôtres, alors hésitez pas!</br></p>
            </div>
        </div>
        <div class="col-6">
            <a href="{{ path('app_beer_index')}}" class="btn btn-success"> BOIRE</a>
            <p><i class="fas fa-beer fa-4x"></i></p>
            
        </div>
        <div class="col-4">
            <p class="text-uppercase">Boire ou conduire, il faut choisir !</p>
        </div>
        <div class="col-4">
            <a href="https://www.preventionroutiere.asso.fr/2016/03/31/alcool-risque-et-facteur-daccident/" class="btn btn-success">CONDUIRE</a>
            <p><i class="fas fa-car fa-6x"></i></p>
        </div>
    </div>
</div>

{% endblock body %}
