{% extends 'admin_base.html.twig' %}

{% block title %}Nouvelle image{% endblock %}

{% block body %}
    <h1>Ajouter une image</h1>

    {{ include('image/_form.html.twig') }}

    <a href="{{ path('image_index') }}">retour à la liste</a>
{% endblock %}
