{% extends 'admin_base.html.twig' %}

{% block title %}Modifier image{% endblock %}

{% block body %}
    <h1>Modifier image</h1>

    {{ include('image/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    {{ include('image/_delete_form.html.twig') }}

    <a href="{{ path('image_index') }}">retour à la liste</a>
{% endblock %}
