{% extends 'base.html.twig' %}

{% block title %}Catégories{% endblock %}

{% block body %}
    <h1>{{ category.name }}</h1>
{% for beer in category.beers %}
{{ beer.name }}
<br/>

{% endfor %}
   
{% endblock %}
