$secondary: #111111;
$success: #145229;
$danger: #B81E23;
$warning: #C8C792;
$light: #FFF9F1;

// font-family: 'Oswald', sans-serif;

// font-family: 'Roboto', sans-serif;

//font-family: 'Indie Flower', cursive;

@import 'common.scss';


body {
    margin-top: 150px;
    color: $secondary;
    background: url(../../public/img/fond_2.png) $light repeat;
}

main{
    min-height:calc(100vh - 348px);
}


p {
    font-family: 'Roboto', sans-serif;
}


.btn {
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}

h1:before, h1:after {
    content: "";
    background-color: rgb(0, 0, 0);
    display: inline-block;
    height: .7rem;
    width: .7rem;
    position: relative;
    top: -.5rem;
    border-radius: 50%;
    margin:0px 20px;
  }

///////////////////////////////////////
//DEBUT MENU
///////////////////////////////////////
nav {
    font-family: 'Oswald', sans-serif;
}

.navbar:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -30px;
    left: 0;
    height: 75%;
    width: 50.1%;
    background: url(../../public/img/ardoise_motif.jpg) center center;
    -webkit-box-shadow: inset -38px 0px 38px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: inset -38px 0px 38px -4px rgba(0,0,0,0.75);
    box-shadow: inset -38px 0px 38px -4px rgba(0,0,0,0.75);
    transform: skew(0deg, 2deg);
    }
    
.navbar:after {
    content: '';
    position: absolute;
    z-index: -1;
    top: -30px;
    right: 0;
    height: 75%;
    width: 50.1%;
    background: url(../../public/img/ardoise_motif.jpg) center center;
    -webkit-box-shadow: inset 38px 0px 38px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 38px 0px 38px -4px rgba(0,0,0,0.75);
    box-shadow: inset 38px 0px 38px -4px rgba(0,0,0,0.75);
    transform: skew(0deg, -2deg);
}

.menu_right, .menu_left{
    flex:2;
    display: flex;
}

.navbar-brand{
    flex:1;
    transition:300ms ease-in-out;
    display: none;
}

.fa-home{
    position: absolute;
    right: 49%;
    top:-300px;
    font-size: 2rem;
    transition:300ms ease-in-out;
}

@media (min-width : 768px) {
    li.mx-5:hover .fa-home{
        transform: translateY(330px);
    }

    li.mx-5:hover .navbar-brand{
        transform: translateY(-300px);
    }

    .navbar-brand{
        display:flex;
    }
}

.language{
    background-color:$danger;
    border-radius: 50%;
    position: fixed;
    top: 10px;
    width: 100px;
    right: 20px;
    z-index:1031;
    padding: 10px;
    transform: rotate(15deg);
    -webkit-box-shadow: 10px 10px 28px -8px rgba(33,33,33,1);
    -moz-box-shadow: 10px 10px 28px -8px rgba(33,33,33,1);
    box-shadow: 10px 10px 28px -8px rgba(33,33,33,1);
    text-decoration: none;
    list-style-type: none;
    transition: 300ms;
}

.language:hover{
    background-color:rgb(187, 51, 56);
}

@media (max-width : 768px) {
    .language{
        z-index: 1029;
    }
}

///////////////////////////////////////
//FIN MENU
///////////////////////////////////////



///////////////////////////////////////
//DEBUT FOOTER
///////////////////////////////////////
footer{
    height: 150px;
    width: 100%;
}

@media (max-width : 768px) {
    footer{
        height: 300px;
    }
}

footer p{
    position: relative;
    z-index: 2;
}

.fab{
    font-size: 1.5rem;
    transition: 300ms cubic-bezier(0.2, 1, 0.2, 1);
    color: white;
}

.fa-facebook:hover{
    font-size: 1.6rem;
    color:#3b5998;
}

.fa-twitter:hover{
    font-size: 1.6rem;
    color:#00acee;
}

.fa-instagram:hover{
    font-size: 1.6rem;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    color: transparent;
}

.copyright{
    font-size: .9rem;
}

footer a{
    display: inline-block;
    position: relative;
}

#avertissement a::before{
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    bottom: 20%;
    height: 20%;
    background: $danger;
    z-index: -1;
    transition: height 300ms cubic-bezier(0.2, 1, 0.2, 1);
}

#avertissement a:hover::before{
    height: 90%;
}

#deco{
    position: relative;
}

#deco:before {
    content: '';
    position: absolute;
    z-index: 1;
    top: -30px;
    left: 0;
    height: 100px;
    width: 50.1%;
    background: url(../../public/img/ardoise_motif.jpg) center center;
    -webkit-box-shadow: inset -38px 0px 38px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: inset -38px 0px 38px -4px rgba(0,0,0,0.75);
    box-shadow: inset -38px 0px 38px -4px rgba(0,0,0,0.75);
    transform: skew(0deg, 2deg);
}

#deco:after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -30px;
    right: 0;
    height: 100px;
    width: 50.1%;
    background: url(../../public/img/ardoise_motif.jpg) center center;
    -webkit-box-shadow: inset 38px 0px 38px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 38px 0px 38px -4px rgba(0,0,0,0.75);
    box-shadow: inset 38px 0px 38px -4px rgba(0,0,0,0.75);
    transform: skew(0deg, -2deg);
}
///////////////////////////////////////
//FIN FOOTER
/////////////////////////////////////// 


// home.html.twig
.bghome{
    background: url(../../public/img/lined_paper.png) $light repeat;
    // -webkit-box-shadow: 0px 2px 24px -3px rgba(0,0,0,0.75);
    // -moz-box-shadow: 0px 2px 24px -3px rgba(0,0,0,0.75);
    // box-shadow: 0px 2px 24px -3px rgba(0,0,0,0.75);
    position:relative;
}

.intro{
    font-family: 'Indie Flower', cursive;
    font-size: 1.5rem;
    padding-left:100px;
}

.boire-conduire{
    font-family: 'Oswald', sans-serif;
}

#beer-home{
    background: url(../../public/img/beer-1.png) no-repeat left bottom;
    background-size: 70%;
    position: absolute;
    bottom: 0px;
    width: 300px;
    height: 280px;
    z-index: 2;
}