$secondary: #111111;
$success: #145229;
$danger: #B81E23;
$warning: #C8C792;
$light: #FFF9F1;

// font-family: 'Oswald', sans-serif;

// font-family: 'Roboto', sans-serif;

@import 'common.scss';


body {
    margin-top: 150px;
    color: $secondary;
    background: url(../../public/img/fond_2.png) $light repeat;
}

p {
    font-family: 'Roboto', sans-serif;
}

nav {
    font-family: 'Oswald', sans-serif;
}

.btn {
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}

h1:before {
    content: "";
    background-image:url(../../public/img/noun_Beer_3345093.png);
    background-size: 100% 100%;
    display: inline-block;
    height: 2.5rem;
    width: 2.5rem;
    position: relative;
    top: +.5rem;
  }

///////////////////////////////////////
//DEBUT MENU
///////////////////////////////////////
nav:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -30px;
    left: 0;
    height: 100%;
    width: 50.1%;
    background: url(../../public/img/ardoise_motif.jpg) center center;
    -webkit-box-shadow: inset -38px 0px 38px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: inset -38px 0px 38px -4px rgba(0,0,0,0.75);
    box-shadow: inset -38px 0px 38px -4px rgba(0,0,0,0.75);
    transform: skew(0deg, 2deg);
    }
    
nav:after {
    content: '';
    position: absolute;
    z-index: -1;
    top: -30px;
    right: 0;
    height: 100%;
    width: 50.1%;
    background: url(../../public/img/ardoise_motif.jpg) center center;
    -webkit-box-shadow: inset 38px 0px 38px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 38px 0px 38px -4px rgba(0,0,0,0.75);
    box-shadow: inset 38px 0px 38px -4px rgba(0,0,0,0.75);
    transform: skew(0deg, -2deg);
}
///////////////////////////////////////
//FIN MENU
///////////////////////////////////////



///////////////////////////////////////
//DEBUT FOOTER
///////////////////////////////////////
footer{
    height: 150px;
    width: 100%;
}

@media (max-width : 768px) {
    footer{
        height: 300px;
    }
}

footer p{
    position: relative;
    z-index: 2;
}

.fab{
    font-size: 1.5rem;
    transition: 300ms cubic-bezier(0.2, 1, 0.2, 1);
    color: white;
}

.fa-facebook:hover{
    font-size: 1.6rem;
    color:#3b5998;
}

.fa-twitter:hover{
    font-size: 1.6rem;
    color:#00acee;
}

.fa-instagram:hover{
    font-size: 1.6rem;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    color: transparent;
}

.copyright{
    font-size: .9rem;
}

footer a{
    display: inline-block;
    position: relative;
}

#avertissement a::before{
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    bottom: 20%;
    height: 20%;
    background: $danger;
    z-index: -1;
    transition: height 300ms cubic-bezier(0.2, 1, 0.2, 1);
}

#avertissement a:hover::before{
    height: 90%;
}

#avertissement p{
    border-bottom: 1px solid $danger;
}

#deco{
    position: relative;
}

#deco:before {
    content: '';
    position: absolute;
    z-index: 1;
    top: -30px;
    left: 0;
    height: 100px;
    width: 50.1%;
    background: url(../../public/img/ardoise_motif.jpg) center center;
    -webkit-box-shadow: inset -38px 0px 38px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: inset -38px 0px 38px -4px rgba(0,0,0,0.75);
    box-shadow: inset -38px 0px 38px -4px rgba(0,0,0,0.75);
    transform: skew(0deg, 2deg);
}

#deco:after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -30px;
    right: 0;
    height: 100px;
    width: 50.1%;
    background: url(../../public/img/ardoise_motif.jpg) center center;
    -webkit-box-shadow: inset 38px 0px 38px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 38px 0px 38px -4px rgba(0,0,0,0.75);
    box-shadow: inset 38px 0px 38px -4px rgba(0,0,0,0.75);
    transform: skew(0deg, -2deg);
}
///////////////////////////////////////
//FIN FOOTER
/////////////////////////////////////// 


// home.html.twig
.bghome{
    margin-top: 200px;
    background: url(../../public/img/fond_1.png) $light;
    height: 560px;
    background-color: red;
}
