<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mail</title>
</head>
<body>
    <p>Bienvenue camarade dans la taverne du Nain Titubant !</p>
    <p>Votre nom d'utilisateur est : {{ user.username }}</p>

    <img src="{{ asset('img/logo.jpg') }}"/>

</body>
</html>
